table.supplementary-material {
    font-size: 1.3rem;

    th {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        font-weight: 300;
        width: 60%;
    }
}