@import "../../../common.scss";

$main-element-border-radius: 30px;
$main-element-shadow: 0px 3px 20px rgba(62, 106, 128, 0.2);

.project-description {
    padding-top: 2rem;


    .description-content-container {
        display: flex;
        align-items: flex-start;


        @media (max-width: $container-max-widths-lg) {
            flex-direction: column;
            align-items: center;
        }
    }


    .teaser-image {

        width: 350px;
        height: 500px;
        display: block;
        text-align: center;
        background: #f0f0f0;


        @media (max-width: $container-max-widths-lg) {
            width: 100%;
            max-width: 400px;
        }

        @media (max-width: $container-max-widths-md) {
            width: 100%;
            max-width: initial;
        }
    }

    .description-text-container {
        flex: 1;
        padding: 2.5rem;
        border-radius: $main-element-border-radius;
        box-shadow: $main-element-shadow;
        margin-left: 2rem;


        .description-text {
            margin-top: -8px;
        }


        @media (max-width: $container-max-widths-lg) {
            margin-left: 0px;
            margin-top: 2rem;
        }

        .description-metadata-container {

            &:not(:first-child){
                margin-top: 1.5rem;
            }

            font-size: 14pt;

            .metadata-title {
                font-weight: bold;
                margin-bottom: 0.5rem;
                font-size: 16pt;
            }

            .keyword-list {
                display: flex;
                flex-wrap: wrap;

                margin-left: -0.5rem;
                margin-top: -0.5rem;

                .keyword {
                    margin-left: 0.5rem;
                    margin-top: 0.5rem;
                    background: #4cc7b8;
                    border-radius: 2rem;
                    padding: 0.1rem 0.75rem;
                    font-weight: 400;
                    color: white;
                }
            }
        }
    }
}

.headline {
    font-weight: 300;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;


    @media (max-width: $container-max-widths-lg) {
        font-size: 1.7rem;
    }

    @media (max-width: $container-max-widths-md) {
        font-size: 1.5rem;
    }
}