@import "../../../common.scss";

.project-description{
    padding-top: 2rem;


    .description-content-container{
        display:  flex;
        align-items: flex-start;


        @media (max-width: $container-max-widths-lg){
            flex-direction: column;
            align-items: center;
        }
    }


    video.teaser-loop{

        @include respond_to_mobile(){
            width: 100%;
        }
    }

    .description-text{
        padding-left: 2rem;
        margin-top: -8px;


        @media (max-width: $container-max-widths-lg){
            padding-left: 0px;
            margin-top: 2rem;
        }
    }
}

.headline{
    font-weight: 300;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}