@import '../common.scss';

#header {
    border-bottom: 1px solid #e8e8e8;
    background-color: $background-darker-color;
    height: $header-height;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);

    & > .container{
        display: flex;
        align-items: center;
    }

    img#logo {
        width: 14rem;
        margin: 0.5rem 0;
        margin-left: -2rem;
    }

    .gnb-link {
        text-decoration: none;
        font-weight: bold;
        color: #575757;
        margin-right: 1.5rem;

        &.selected{
            text-decoration: underline;
        }

        &:hover {
            color: #1cb6b7;
        }
    }

    .github {
        text-decoration: none;
        align-self: stretch;
        display: flex;
        padding: 0 1rem;

        &:hover {
            background: rgba(255,255,255,0.2);
        }

        &>div {
            align-self: stretch;
            display: flex;
            align-items: center;

            img {
                width: 1.5rem;
            }

            span {
                font-size: 1rem;
                margin-left: 0.5rem;
                font-weight: 600;
                color: white;
            }
        }
    }
}