@import './consts.scss';

html, body{
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.App, #root{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
}

#main-wrapper{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
}

#main{
  flex: 1 0 auto;
}

#footer{
  flex-shrink: 0;
  background-color: #29292d;
  color: #7d7d7d;
}

.flex-align-items-center{
  display: flex;
  align-items: center;
}

p{
  font-size: 1rem;
  line-height: 1.5rem;
  color: #252525;
}